<h1> About BundlBee </h1>

<p>
	<%= link_to "One Month Rails", "Http://www.bundlbee.com" %>
		is a project to teach 
	<%= link_to "Ruby On Rails", "Http://www.rubyonrails.org" %>
	in one month. This is a sample application!

</p>

